*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(32, 95, 121);
}
.head{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0%;
    background-image: linear-gradient(to bottom, rgb(95, 90, 90) );
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid blue;

}
.titulo{
    font-size: 50px;
    padding-left: 10px;
}
/* .carrito{
    position: fixed;
    top: 10px;
    right: 100px;
    

} */
img{
    position: fixed;
    top: 8px;
    right: 100px;
    width: 100px;
    height: 80px;
    border: solid 1px blue;
}
.contador{
    position: fixed;
    top: 5px;
    right: 220px;
    font-size: 35px;
    color: red;

}
/* .carritoProducto{
    position: fixed;
    top: 150px;
    right: 90px;
    width: 270px;
    height: 120px;
    border: 1px solid blue; 
} */



#mostrarCarrito{
    position: fixed;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5%;
    transition: all 0.9;
    top: 200px;
    left: 150px;
    background-color: rgb(194, 187, 187);
    font-size: 30px;
    margin: 40px;
}
#finalizarCompra{
    position: fixed;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5%;
    transition: all 0.9;
    top: 500px;
    left: 170px;
    font-size:28px ;
    background-color: rgb(194, 187, 187)
}
#mostrarCarrito:hover{
    border : solid 2px blue ;
}
#finalizarCompra:hover{
    border : solid 2px blue ;
}
.card{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 5px grey;
    transition: all 0.9s;
    text-align: center;
    background-color: rgb(194, 187, 187)
}
.card:hover{
    transform: scale(1.1);
}

button{
    margin: 20px;
    display: flex;
    
}
#spinner{

    font-size: 70px;
    position: fixed;
    top: 35px;
    left: 600px;
}
#cargando{
    font-size: 40px;
    font-weight: bold;
    margin-right: 180px;
    margin-top: 20px;
}
.hh{
background-color: rgb(180, 175, 175);
position: fixed;
top: 100px;
right: 15px;
width: 20%;
height: 100px;
border: solid black 2px;
}